configuration {
  show-icons: true;
 // combi-modes: "window,drun";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
  terminal: "kitty";
  sidebar-mode: true;
  disable-history: false;
}
@theme "catppuccin-mocha"
